body {
    text-align: center;
    background-color: lightgreen;
    padding-bottom: 10px;
    padding-top: 10px;
}
html {
    scroll-behavior: smooth;
}
#main {
    background: linear-gradient(#ff8080 0%, #ff0000 100%);
    opacity: 0.9;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 15px;
    padding-top: 0.5px;
    padding-bottom: 10px;
}
.frame {
    margin: 20px auto;
    border: lime 6px dashed
}
#review {
    background: linear-gradient(#9183fc 0% , #1e00ff 100%);
    opacity: 0.9;
    left: 0;
    right: 0;;
    top: 0;
    bottom: 0;
    padding-top: 1px;
    margin: 15px;
    padding-bottom: 10px;
}
a {
    color:red;
    text-decoration: none;
    font-family: sans-serif;
}
.buttons {
    height: 50px;
    width: 25%;
    font-family: Segoe UI;
    font-size: 18px;
    cursor: pointer;
    border-radius: 20px;
    background-color:darksalmon;
    color: aliceblue;
    border: 0px;
}
.head {
    font-size: 35px;
    font-family: Leelawadee UI;
    color: beige;
}
.para {
    font-size: 20px;
    font-family: Segoe UI;
}
#idk {
    width:50%;
    height:0.5%;
    margin: 10px;
}
.buttons a {
    color: white !important;
}
#main2 {
    background: linear-gradient(#f5d89a 0% , #d99400 100%);
    opacity: 0.9;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 15px;
    padding-top: 0.5px;
    padding-bottom: 10px;
}
#review2 {
    background: linear-gradient(#dd8ff2 0% , #c900ff 100%);
    opacity: 0.9;
    left: 0;
    right: 0;;
    top: 0;
    bottom: 0;
    padding-top: 1px;
    margin: 15px;
    padding-bottom: 10px;
}
.buttons {
    margin-left: 100;
}